VITE_API_URL=<required>
VITE_MEDIA_URL=<required>
VITE_ANALYTICS_URL=<required>
VITE_ANALYTICS_WEBSITE_ID=<required>
VITE_SENTRY_DSN=<required>

SENTRY_AUTH_TOKEN=<required for source map upload>
SENTRY_ORG=<required for source map upload>
SENTRY_PROJECT=<required for source map upload>
